<!-- this content is always -->
<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/about">About</a>
    <a class="nav-item nav-link" routerLink="/coins">Coins</a>
  </div>
</nav>

<!-- this content is always -->

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
